<div class = "breadcrumbs"><%= link_to "Back to your colleges", user_path(session[:user_id]) %></div>
<div class = "college-steps">
	<h3><span>Steps for: <%= @college.name %></span> - <span><%= @college.percent_complete %>% complete</span></h3>
		<% @steps.each do |step| %>
			<div class = "step <%= 'complete' if step.complete == true %>">
				<span>
					<%= form_for step do |f| %>
						<span class = "item">
							<%= f.check_box :complete%>									
						</span class = "item">
						<span class = "item"><%= step.name %></span>
						<span class = "item">Due - <%= step.duedate %></span>
						<span class = "button step_submit">
						<%= f.submit %>
						</span>
					<% end %>

				</span>
			</div>
	    <% end %>
	    <%= link_to "Create new step", new_step_path(:id => @college.id) %>
</div>

